-content_for :navbar do
  %div(data-role='navbar')
    %ul
      %li= link_to 'All', admin_sites_path
      %li= link_to 'Alpha', admin_sites_path(:alpha => 1)
      %li= link_to "Edit #{@current_site.subdomain}", edit_admin_site_path(@current_site)
      %li= link_to 'New', new_admin_site_path
      /%li= link_to_function 'Search', "$('#site_search').toggle()"
  / %div{:style => 'display:none', :id => 'site_search', :class => 'box message'}
  /   %h3 Search Sites
  /   - form_for :search, :url => search_admin_sites_path do |f|
  /     = f.text_field :q,  :onfocus => "this.select()"
  /     = f.submit